/.idea
/ark/__pycache__/
/ark/nn/__pycache__/
/ark/data/__pycache__/
/ark/spider/__pycache__/
/ark/data/TRAIN_RESULT
/ark/data/TEST_RESULT/all_data/*
!/ark/data/DATASET/all_data/*.csv
/main.py
/test.py